<div class="footer">
    <div class="footer-links">
        <a href="/exercises" class="footer-links-a">Exercise</a>
        <a href="/myaccount" class="footer-links-a">Account</a>
        <a href="#" class="footer-links-a">SpotterB@gmail.com</a>
    </div>
    <hr class="footer-line">
    <div class="footer-brand">
        SpotterB 2023
    </div>
</div>
</body>
</html>