<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bruno+Ace+SC&family=Caprasimo&family=Concert+One&family=Fasthand&family=Lobster+Two&family=Nanum+Gothic&family=Pacifico&family=Righteous&family=Roboto+Condensed:wght@400;700&family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/javascript/scripts.js" defer></script>
    <title>SpotterB</title>
</head>
<body>
        <div class="navigation">
            <div class="navigation-brand">
                <span class="navigation-brand-s">
                    Spotter
                </span>
                <span class="navigation-brand-b">
                    B
                </span> 
            

            </div>
            <div class="navigation-button" onclick=navbuttonclick()>
                <div class="navigation-button-up">

                </div>
                <div class="navigation-button-mid">
                    
                </div>
                <div class="navigation-button-down">
                    
                </div>
            </div>
        </div>
        <div class="drawer">
            <a href="/" class="drawer-a">
                Home
            </a>
            <a href="/exercises" class="drawer-a">
                Exercise
            </a>
            <a href="/gymbros" class="drawer-a">
                Posts
            </a>
            <a href="/myaccount" class="drawer-a">
                Account
            </a>
        </div>