<%- include("partials/header") -%>

<div class="gymb">
    <form action="/create" method="post" class="writer">
        <label class="create-label">Create</label>
        <textarea class="create-text" name="cnt"></textarea>
        <button class="user-button" type="submit">Post</button>
    </form>
</div>

<%- include("partials/footer") -%>