<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bruno+Ace+SC&family=Caprasimo&family=Concert+One&family=Fasthand&family=Lobster+Two&family=Nanum+Gothic&family=Pacifico&family=Righteous&family=Roboto+Condensed:wght@400;700&family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/javascript/scripts.js" defer></script>
    <title>SpotterB</title>
</head>
<body>
        <div class="navigation">
            <div class="navigation-brand">
                <span class="navigation-brand-s">
                    Spotter
                </span>
                <span class="navigation-brand-b">
                    B
                </span> 
            

            </div>
            <div class="navigation-button" onclick=navbuttonclick()>
                <div class="navigation-button-up">

                </div>
                <div class="navigation-button-mid">
                    
                </div>
                <div class="navigation-button-down">
                    
                </div>
            </div>
        </div>
        <div class="drawer">
            <a href="#" class="drawer-a">
                Home
            </a>
            <a href="/exercises" class="drawer-a">
                Exercise
            </a>
            <a href="/gymbros" class="drawer-a">
                Posts
            </a>
            <a href="/myaccount" class="drawer-a">
                Account
            </a>
        </div>
        <div class="intro">
            <div class="intro-left">
                <span class="intro-left-s">
                    Hello, We're <span class="intro-left-s-2">SpotterB</span>
                </span>
                
                <span class="intro-left-b">
                    Ready to help you in your journey.
                </span>
            </div>
        </div>
        <div class="slide-1">
            <div class="slide-1-left">
                <span class="slide-1-left-heading">
                    <span class="slide-1-heading-left">
                    Welcome to
                    </span>
                    <span class="slide-1-heading-s">
                    SpotterB!
                    </span>
                </span>
                <span class="slide-1-left-subheading">
                    We are more than just a website; we are your ultimate fitness companion, dedicated to supporting you throughout your incredible fitness journey. Our mission is to guide you in choosing the perfect exercises tailored to your needs while also providing a platform for you to share and celebrate your personal experiences along the way.
                </span>
                <span class="slide-1-left-subheading2">
                    With SpotterB, we wholeheartedly embrace the opportunity to empower individuals, inspiring them to embrace a healthier lifestyle and unlock their full potential. Join us on this transformative path and let us help you become the very best version of yourself. Together, we can achieve greatness and make fitness an enjoyable and rewarding adventure!
                </span>
            </div>
            <div class="slide-1-right">
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
                <div class="slide-1-balls"></div>
            </div> 
        </div>
        <div class="slide-2">
            <div class="slide-2-left"></div>
            <div class="slide-2-right">
                <div class="slide-2-right-1" style="justify-content: center;">
                    <span class="slide-2-s1">
                        Discover
                    </span>
                    <span class="slide-2-s2">
                        targeted <span class="incolor">muscle</span> growth. <span class="incolor">SpotterB</span> finds <span class="incolor">best</span> exercises for each muscle group. No more guessing. <span class="incolor">Precision</span> and results. Try it now!
                    </span>
                     
                </div>
                <div class="slide-2-right-1">
                    <span class="slide-2-s1">
                        Navigation
                    </span>
                    <span class="slide-2-s2">
                        
                    <span class="incolor">Effortlessly</span> navigate and uncover a myriad of invigorating exercises. Streamline your fitness quest. Unlock your untapped potential. Explore, conquer, thrive.
                    </span>
                    <a href="/exercises" style="text-decoration: none;">
                        <button class="slide-2-button">
                            <span>
                                Find
                            </span>
                            
                        </button>
                    </a>
                    
                </div>
            </div>
        </div>
        <div class="slide-3">
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-balls"></div>
            <div class="slide-3-s">
                "Discover an irresistible surprise: there's even more we can offer!"
            </div>
            <div class="slide-3-curtain"></div>
            <div class="slide-3-roller"></div>
        </div>
        <div class="slide-4">
            <div class="slide-4-left"></div>
            <div class="slide-4-right">
                <span class="slide-4-heading">
                    Share
                </span>
                <span class="slide-4-text">
                    Embark on an inspiring fitness voyage as you delve into the captivating stories of others' incredible fitness journeys. Discover triumphs, challenges, and the transformative power of perseverance. But it doesn't end there! Join this empowering community by sharing your own fitness journey, igniting a spark of motivation in others and forging connections that will fuel your own progress. Together, let's create a tapestry of motivation, resilience, and achievement that inspires us all to reach new heights.
                </span>
            </div>
        </div>
        <div class="footer">
            <div class="footer-links">
                <a href="/exercises" class="footer-links-a">Exercise</a>
                <a href="/myaccount" class="footer-links-a">Account</a>
                <a href="#" class="footer-links-a">SpotterB@gmail.com</a>
            </div>
            <hr class="footer-line">
            <div class="footer-brand">
                SpotterB 2023
            </div>
        </div>
        <script src="/javascript/home.js" defer></script>
</body>
</html>


